<!DOCTYPE html>
  <html lang ="en-GB">
    <head>
      <meta charset="utf-8">
      <link rel="stylesheet" type="text/css" href="styles.css">
      <title>Pet Shelter</title>
    </head>
    <body>
      <img class="cat" src=
      "https://www.pets4homes.co.uk/images/breeds/70/large/1c37029d04e0586b668fcf65df836cba.jpg"
       alt "cat/>"
      <img class="dog" src=
      "http://apps.watershed.co.uk/shared/imagecache/appimages/1940/default/1-1/600/16/08/gromit4.jpg"
      alt "dog/>"
      <img class="parrot" src=
      "https://s-media-cache-ak0.pinimg.com/736x/19/93/2c/19932cc2fca5e80076ee5399209bd32e--captain-hook-pirates.jpg"
      alt "parrot/>"
      <img class="fish" src=
       "https://vignette4.wikia.nocookie.net/pixar/images/8/8d/Nemo_Promo_1.png/revision/latest?cb=20160710221424"
       alt "fish/>"

      <nav>
        <a href="/pets/new">Add Pet</a>
      </nav>
    <%= yield %>
    </body>
  </html>