<!DOCTYPE html>
<html lang = "en_GB">
<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Special+Elite" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="styles.css">
  <title>Pet Shelter</title

  <link rel="stylesheet" type="text/css" href="/styles/buttons.css">
  <link rel="stylesheet" type="text/css" href="/styles/forms.css">
  <link rel="stylesheet" type="text/css" href="/styles/structure.css">
  <link rel="stylesheet" type="text/css" href="/styles/tables.css">
</head>
  </html>
<body>

  <main class="flex flex--row">
    <nav>
      <ul>
        <li>
          <a href="/pets">Pets</a>
        </li>
        <li>
          <a href="/owners">Owners</a>
        </li>
        <li>
          <a href="/matches">Matches</a>
        </li>
      </ul>
    </nav>
 <section id=<content>
  </section>
  </main>
</body>
</html>
     
      <img class="cat" src=
      "https://www.pets4homes.co.uk/images/breeds/70/large/1c37029d04e0586b668fcf65df836cba.jpg"
       alt "cat/>"
      <img class="dog" src=
      "http://apps.watershed.co.uk/shared/imagecache/appimages/1940/default/1-1/600/16/08/gromit4.jpg"
      alt "dog/>"
      <img class="parrot" src=
      "https://s-media-cache-ak0.pinimg.com/736x/19/93/2c/19932cc2fca5e80076ee5399209bd32e--captain-hook-pirates.jpg"
      alt "parrot/>"
      <img class="fish" src=
       "https://vignette4.wikia.nocookie.net/pixar/images/8/8d/Nemo_Promo_1.png/revision/latest?cb=20160710221424"
       alt "fish/>"

      <nav>
        <a href="/pets/new">Add Pet</a>
      </nav>
   <!-- yield belongs to index.erb on this level - puts under photos of pets --> --> 
    <%= yield %> 
    </body>
  </html>
<h1 class=break>

   
     <img class="dick_whittington" src=
       "http://www.fermanaghomagh.com/app/uploads/2015/07/dick-whittington.jpg" 
      alt "dick_whittington/>"
     <img class="wallace" src=
       "https://vignette4.wikia.nocookie.net/wallaceandgromit/images/3/3e/Wallace-482x298.jpg/revision/latest/scale-to-width-down/299?cb=20140526031303" 
     
     alt "wallace/>"
     <img class="captain_hook" src=
       "http://mult-online.ru/posters/260_347_90_1/uploads/posts/2011-03/thumbs/1299849073_kapitan-huk.jpg" 
     alt "captain_hook/>

     <nav>
       <a href="/owners/new">Add Owner</a>
     </nav>
 <!-- yield belongs to index.erb on this level - puts under photos of pets -->
    <%= yield %> 
   </body>
 </html>