
<form method="post" action="/pets">

  <label for="name">Name:</label>
  <input
  type="text"
  name="pet_name"
  id="name"
  />

  <label for="pet-type">Pet Type:</label>
  <input
  type="text"
  name="pet_type"
  id="pet-type"
  />

  <label for="pet-breed">Pet Breed:</label>
  <input
  type="text"
  name="breed"
  id="pet-breed"
  />
  <label for="pet-sex">Pet Sex:</label>
  <input
  type="text"
  name="sex"
  id="pet-sex"
  />

  <label for="pet-age">Pet Age:</label>
  <input
  type="text"
  name="age"
  id="pet-age"
  />

  <label for="pet-adoptable">Adoptable?:</label>
  <input
  type="text"
  name="adoptable"
  id="pet-adoptable"
  />

  <label for="pet-admission">Admission:</label>
  <input
  type="text"
  name="admission"
  id="pet-admission"
  />




  <!-- This is the drop down menu. Value is they hash value and name is the hash key -->
    <label for="owner-selection">Owner:</label>
    <select name="owner_id" id="owner-selection">
      <% @owners.each do |owner| %>
      <option value="<%=owner.owner_id%>"><%=owner.last_name%></option>
      <% end %>
    </select>

    <input type="submit" value="Add Pet">
