<h2>Happy Pets and Owners</h2>
<img class="pet-and-owner" src="https://static.comicvine.com/uploads/scale_small/11/111746/4339141-filepicker_dxbwcidftya9ewwporn6_dick_whittington.jpg"
 alt="cat"/>
<img class="pet-and-owner" src="http://news.images.itv.com/image/file/396006/image_update_img.jpg"
 alt="dog"/>
<img class="pet-and-owner" src="http://www.piratesforhire.com/wp-content/uploads/2014/04/Morgan.jpg"          
 alt="parrot"/>
 <img class="pet-and-owner" src="https://vignette4.wikia.nocookie.net/disney/images/a/aa/Nemo-FN.png/revision/latest/scale-to-width-down/516?cb=20160202205008"
 alt="fish"/>
<img class="pet-and-owner" src="https://s-media-cache-ak0.pinimg.com/originals/6e/88/ab/6e88abe0740c2406d8e56d6ddff52e80.png"
 alt="bear"/>




