<h2>Happy Pets and Owners</h2>
<img class="cat and owner" src=
"https://i.ytimg.com/vi/avLqrGOH5zA/hqdefault.jpg"
 alt "cat/>"
<img class="dog and owner" src=
"http://news.images.itv.com/image/file/396006/image_update_img.jpg"
alt "dog/>"
<img class="parrot and owner" src=
"http://www.piratesforhire.com/wp-content/uploads/2014/04/Morgan.jpg"
alt "parrot/>"
<img class="fish and no owner" src=
"https://vignette4.wikia.nocookie.net/disney/images/a/aa/Nemo-FN.png/revision/latest/scale-to-width-down/516?cb=20160202205008"
 alt "fish/>"




