body {
  background: #5F9F9F ;
  background-size: 100%;
  background-repeat: no-repeat;
  color: papayawhip;
  font-family: 'Merriweather', serif;
  padding: 0px;
  margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Luckiest Guy', cursive;
  margin: 0px;
  padding: 0px;
  color: #000080;
  font-size: 4.0em;

}

h1 {
  font-size: 6.0em;
  color: #000080;
  margin-bottom: 20px;
}

.bubbles h1 {
position: center;
margin: 1em 0 0;
font-family: 'Luckiest Guy', cursive;
color: #000080;
z-index: 2;
}

a, a:visited {
  color: papayawhip;
  text-decoration: none;
}

nav {
  padding: 0px;
  margin: 0px;
  padding-right: 25px;
}

nav ul li {
  margin-bottom: 15px;
  text-transform: uppercase;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

main {
  padding: 25px;
}

.flex {
  display: flex;
}

.flex--row {
  flex-direction: row;
}

#content {
  border-left: 1px solid darkred;
  color: #000080;
  padding-left: 25px;
}

 img {
  height: 400px;
  width: auto;
}
 
 .pet-and-owner img {
  height: 600px;
  width: auto;
 }