<form method="post" action="/owners/<%=@owner.owner_id%>">
  <label for="first-name-field">First Name:</label>
  <input
  type="text"
  name="first_name"
  id="first-name-field"
  value="<%=@owner.first_name%>"
  />

  <label for="last-name-field">Last Name:</label>
  <input
  type="text"
  name="last_name"
  id="last-name-field"
  value="<%=@owner.last_name%>"
  />

  <label for="pet_type">Pet Wanted:</label>
  <input
  type="text"
  name="pet_type"
  id="pet-type-field"
  value="<%=@owner.pet_type%>"
  />


  <input type="submit" value="Update Owner"/>
  </form>
