<form method="post" action="/owners">
  <label for="first-name-field">First Name:</label>
  <input
  type="text"
  name="first_name"
  id="first-name-field"
  />

  <label for="last-name-field">Last Name:</label>
  <input
  type="text"
  name="last_name"
  id="last-name-field"
  />

  <label for="pet-type-field">Pet Wanted:</label>
  <input
  type="text"
  name="pet_type"
  id="pet-type-field"
  />



  <label for="owner-photo-field">Owner Photo:</label>
  <input
  type="text"
  name="owner_photo"
  id="owner-photo-field"
  />
  <!-- This is the drop down menu. Value is they hash value and name is the hash key -->
    <label for="pet-selection">     Pet:</label>
    <select name="pet_id" id="pet-selection">
      <% @pets.each do |pet| %>
      <option value="<%=pet.pet_id%>"><%=pet.pet_name%></option>
      <% end %>
    </select>

    <input type="submit" value="Add Owner">

</form>

